body {
  background-color: lightgrey; // #ffffb3
  overflow: scroll;
}

header {
  background: url("/img/patmtns.jpg");
  background-size: 100vw 350px;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
  border-bottom: 5px solid cc3300;
}

.img-circle {
  /*background-position: center;*/
  margin-left: 50px;
  margin-top: 60px;
  width: 200px;
  height: 175px;
}

#sections {
  display: table;
}

ul {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 696px;
  list-style: none;
  height: 42px;
}

li {
  width: 24vw;
  height: 42px;
  display: inline;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
  background-color: black;
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  text-decoration: underline;
}

a {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  background-color: #cc3300;
}

p {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  text-align: center;
}

.aboutPar {
  font-size: 20px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  text-indent: 40px;
  margin-left: 30px;
  margin-bottom: 60px;
}

h1 {
  text-align: center;
  text-decoration: none;
  word-spacing: 3px;
  line-height: 1.8;
  font-style: italic bold; // #cc3300;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.img-portfolio {
  height: 300px;
  width: 35vw;
  margin-top: 50px;
}

#portfolio_section {
  margin-bottom: 140px;
}

.skill-categories {
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  line-height: normal;
}

#skills_section {
  margin-bottom: 140px;
}

.middle-top {
  margin-top: -100px;
}

.middle-bottom {
  margin-top: -40px;
}

.grey-box {
  background-color: #e6e6e6;
  height: 200px;
  border-radius: 10px;
}

.eduLogos {
  height: 130px;
  width: 130px;
  margin-top: 35px;
  margin-left: 30px;
}

#education_section {
  margin-bottom: 140px;
}

.grey-box-school {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  margin-left: 60px;
}

.grey-box-date {
  text-align: right;
  margin-top: 80px;
  margin-right: -80px;
  font-size: 22px;
}

.img-portfolio {
  border-radius: 10px;
}

.social_media {
	display: inline-block;
}

#icons {
	text-align: center;
	padding: 15px 15px;
  font-size: 10px;
  margin-top: 40px;
  margin-left: 170px;
}

#linkedin {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: lightblue;
	padding-top: 15px;
	opacity: 0.95;
}

.fa-linkedin {
	font-size: 3em !important;
}

#github {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: lightblue;
	padding-top: 15px;
	opacity: 0.95;
}

.fa-github {
	font-size: 3em !important;
}

#resume {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: lightblue;
	padding-top: 15px;
	opacity: 0.95;
}

.fa-file-text {
	font-size: 3em !important;
}

#email {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: lightblue; // #ffa31a;
	padding-top: 15px;
	opacity: 0.95;
}

.fa-envelope-o {
	font-size: 3em !important;
}

.text-center {
  margin-bottom: 60px;
}

.contact-title {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
}

#copyrights {
  margin-top: 5px;
}

#resume-title {
  margin-left: 15px;
}
