<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid" id="sections">

    <ul class="nav nav-pills">
      <li><a href="#home_section" id="home_tab">Home</a></li>
      <li><a href="#about_section" id="about_tab">About</a></li>
      <li><a href="#education_section" id="education_tab">Education</a></li>
      <li><a href="#skills_section" id="skills_tab">Skills</a></li>
      <li><a href="#portfolio_section" id="portfolio_tab">Portfolio</a></li>
    </ul>
  </div>
</nav>
